<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Таблица товаров</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<form action="/save_db/">
    <input type="text" name="name" placeholder="введите имя">
    <input type="text" name="manufacturer" placeholder="введите роизводителя">
    <input type="text" name="forma" placeholder="введите форму">
    <input type="text" name="price" placeholder="введите цену">
    <input type="text" name="id" placeholder="введите номер">

    <input type="submit" value="довавить">
</form>
</body>
</html>