<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Таблица товаров</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Таблица товаров</h1>
    <table>
        <tr>
            <th>Название</th>
            <th>Производитель</th>
            <th>Форма</th>
            <th>Цена</th>
            <th>Номер</th>
        </tr>
        {% for items in medicines %}

        <tr>
            <td><input type="text" name="name_{{items[4]}}" value="{{ items[0]}}"></td>
           <td><input type="text" value="{{ items[1]}}"></td>
            <td><input type="text" value="{{ items[2]}}"></td>
            <td><input type="text" value="{{ items[3]}}"></td>
            <td><input type="text" value="{{ items[4]}}"></td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
